# ====================================
# DEMO MODE (SQLite lokal) - default
# ====================================
DATABASE_URL="file:./dev.db"
AUTH_SECRET="demo-secret-key-change-in-production-please-use-openssl-rand"
AUTH_URL="http://localhost:3000"
DEMO_MODE="true"
NEXT_PUBLIC_DEMO_MODE="true"
ADMIN_EMAILS="admin@tp.idu.ac.id,demo@tp.idu.ac.id"

# ====================================
# PRODUCTION MODE (Supabase + Microsoft)
# Uncomment & isi untuk production
# ====================================
# DATABASE_URL="postgresql://postgres:Voting-App!@#@db.nisixoewepdqbwtbexnu.supabase.co:5432/postgres"
# AUTH_MICROSOFT_ENTRA_ID_ID="your-app-client-id"
# AUTH_MICROSOFT_ENTRA_ID_SECRET="your-app-client-secret"
# AUTH_MICROSOFT_ENTRA_ID_ISSUER="https://login.microsoftonline.com/common/v2.0"
# NEXT_PUBLIC_SUPABASE_URL="https://nisixoewepdqbwtbexnu.supabase.co/rest/v1/"
# NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pc2l4b2V3ZXBkcWJ3dGJleG51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2OTU3MDQsImV4cCI6MjA5NjI3MTcwNH0.KD1LYHiweeP_0akLIbdkThNJpB_NfKkY4juH9uUx3_4"
# DEMO_MODE="false"
